@using ViewModel.Security

@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}




<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>فرم ورود</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="~/Content/AdminResponsive3.0/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/Content/AdminResponsive3.0/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/AdminResponsive3.0/dist/css/adminlte.css">
    <link href="~/Content/AdminResponsive3.0/dist/css/rtl.css" rel="stylesheet" />
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="card card-outline card-primary">
            <div class="card-header text-center">
                <a href="~/Content/AdminResponsive3.0/index2.html" class="h1"><b>فرم</b> ورود</a>
            </div>
            <div class="card-body">
                <p class="login-box-msg">فرم ورود</p>

                @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @name = "Login" }))
                {
                    @Html.ValidationSummary(true, "", new { @class = "" })
                    @Html.AntiForgeryToken()



                    <div class="input-group mb-3">
                        <input id="UserName" name="UserName" value="@Model.UserName" class="form-control" placeholder="نام کاربری">
                        @Html.ValidationMessageFor(m => m.UserName)
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <div class="input-group mb-3">
                        <input type="password" id="Password" name="Password" value="@Model.Password" class="form-control" placeholder="کلمه عبور">
                        @Html.ValidationMessageFor(m => m.Password)
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">ورود</button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <script src="~/Content/AdminResponsive3.0/plugins/jquery/jquery.min.js"></script>
    <script src="~/Content/AdminResponsive3.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/Content/AdminResponsive3.0/dist/js/adminlte.min.js"></script>
</body>
</html>







