@model object
@{
    var required = ViewData.ModelMetadata.IsRequired;


    var _res = (MyTextBox)Html.MyHelper().TreasuryTextBoxFor(x => x, TextBoxType.Date);
    var _name = _res._componentName;
    var _id = _res._componentId;
    var nameStr = _id + "Str";
    var value = (ViewData.ModelMetadata).Model;
    var displayName = (ViewData.ModelMetadata).DisplayName;
    var showName = "show" + _id;

}


<div class="form-group row @string.Format("{0}",required?"rqd":"")">
    @Html.LabelFor(model => model, htmlAttributes: new { @class = "control-label col-form-label col-md-3 text-right" })
    <div class="col-md-9">
        @Html.HiddenFor(model => model)
        @*<input type="text" class="form-control" id="@showName" value="@value">*@
        <input type="text" class="form-control" id="@showName" value="@ViewData[ViewData.ModelMetadata.PropertyName]" autocomplete="off">
        @Html.ValidationMessageFor(model => model, "", new { @class = "text-danger" })
    </div>
    <script>

        $('#' + '@showName').keyup(function (e) {
            SearchAccClientsUtility(this, '@_id');
        });

    </script>
</div>
