@model DateTime?
@{
    var placeholder = string.Empty;

    if (ViewData.ModelMetadata.AdditionalValues.ContainsKey("placeholder"))
    {
        placeholder = ViewData.ModelMetadata.AdditionalValues["placeholder"] as string;
    }
    var _res = (MyTextBox)Html.MyHelper().TreasuryTextBoxFor(model => model, TextBoxType.Date);
    var _name = _res._componentName;
    var _id = _res._componentId;
    //var name = (ViewData.ModelMetadata).PropertyName;
    var nameStr = _id + "Str";
    var value = (ViewData.ModelMetadata).Model == null ? DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss") : ((DateTime)(ViewData.ModelMetadata).Model).ToString("yyyy-MM-dd HH:mm:ss");
    var displayName = (ViewData.ModelMetadata).DisplayName;
    var required = ViewData.ModelMetadata.IsRequired;
    var showName = "show" + _id;
}
<div class="input-group">
    <input type="text" class="form-control float-right" id="@nameStr" value="@value">
    <input type="text" class="form-control float-right" id="@_id" name="@_name" value="@value" hidden>
    <div class="input-group-prepend">
        <span class="input-group-text" id="@showName">
            <i class="far fa-calendar-alt"></i>
        </span>
    </div>
    <script>
        $(function () {
            @*$('#' + '@nameStr').change(function () {
                
                $('#' + '@nameStr').trigger('Select');
                $('#' + '@_id').trigger('change');
                $('#' + '@_id').val(this.value);
            });
            $('#@_id').val($('#@nameStr').val());*@
            $('#' + '@showName').MdPersianDateTimePicker({
                targetTextSelector: '#@nameStr',
                targetDateSelector: '#@_id',
                enableTimePicker: false
            });
        });
    </script>
</div>



@*@Html.MyHelper().TreasuryTextBoxFor(model => model, TextBoxType.Date)
    @if (required)
    {
        <span class="field-validation-valid text-danger" data-valmsg-for="@string.Format("{0}Str",name)" data-valmsg-replace="true"></span>
    }*@


