
@using AttendanceCRMWeb.Helpers
@using Utility.HtmlHelpers
@using ViewModel.UserManagement.Attendance;
@model  Utility.Utitlies.viewModel<TimeRecordVm>




<div class="card col-md-12">
    <div class="card-header">
        <h6 class="card-title">تردد کاربران </h6>
        <div class="card-tools">
            <div class="btn-group">
                <div class="input-group input-group-sm">
                    <input class="form-control form-control-navbar" id="@Model.CommonCustomViewTablePaging.IdTextSearch" type="search" placeholder="جستجو" aria-label="Search">
                    <div class="input-group-append">
                        <button class="btn btn-default" onclick="search_@Model.CommonCustomViewTablePaging.IdTextSearch ()">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
                <div class="input-group input-group-sm" style="width:75px;">
                    <select class="form-control" id="cboSelectCount" name="cboSelectCount" onchange="search_@Model.CommonCustomViewTablePaging.IdTextSearch ()" style="width:75px;margin-right: 5px;">
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body table-responsive p-0">
        <div class="card m-2">
            <div class="card-header">
                <h6>فیلتر</h6>
            </div>
            <div class="card-body">
                <div class="col-md-6">
                    @Html.EditorFor(x => x.T_model.FromDate)
                </div>
                <div class="col-md-6">
                    @Html.EditorFor(x => x.T_model.ToDate)
                </div>
            </div>
            <div class="card-footer clearfix">
                <a href="javascript:void(0)" onclick="RefreshAttLog()" class="btn btn-sm btn-info float-left">جستجو</a>
            </div>
        </div>
        <div id="@Model.CommonCustomViewTablePaging.TableIdDiv">
            @Html.Partial("P_AttLog", Model)
        </div>
    </div>
</div>







<script>
    $(function () {
        $('.select2').select2();
    });
</script>
