@using ViewModel.UserManagement.Attendance;

@model  Utility.Utitlies.viewModel<CalendarVm>
@{
    var formSecurity = (ViewModel.Security.FormSecurity)ViewBag.FormSecurity;
}


<table class="table table-hover text-nowrap">
    <thead>
        <tr>
            <th>عملیات</th>
            <th>عنوان</th>
            <th>روزهای تعطیل</th>
            <th>شروع رمضان</th>
            <th>پایان رمضان</th>
        </tr>
    </thead>
    <tbody>
        @{
            foreach (var item in Model.TLists)
            {
                <tr>
                    <td style="vertical-align:middle; min-width:100px;">
                        <a class="btn btn-danger btn-sm" onclick="DeleteCalendars('@item.ID')" title="حذف"> <span class="fa fa-trash"></span> </a>
                        <a class="btn btn-primary btn-sm" onclick="EditCalendars('@item.ID')" title="ویرایش"> <span class="fa fa-trash"></span> ویرایش </a>
                    </td>
                    <td class="mailbox-name" style="vertical-align:middle; min-width:100px;"><a>@item.CalendarName</a></td>
                    <td class="mailbox-subject" style="vertical-align:middle; min-width:250px;">
                        <b>@item.HolidaysName</b>
                    </td>
                    <td class="mailbox-name" style="vertical-align:middle; min-width:100px;"><a>@item.RamazanStartDateStr</a></td>
                    <td class="mailbox-name" style="vertical-align:middle; min-width:100px;"><a>@item.RamazanEndDateStr</a></td>
                </tr>
            }
        }
    </tbody>
</table>

@Html.Partial(Utility.Utitlies.VaribleForName.NamePartialOperationPageing, Model.CommonCustomViewTablePaging)




